<mat-toolbar class="color">
  <p class="name-app main-text">Jogging App</p>
  <span class="spacer"></span>
  <button mat-button class="margin-rigth" *ngIf="isAuthorised; else elseBlock" (click)="signOut()">
    <span class="header-text-user">Sign out</span>
    <i class="fas fa-sign-out-alt fa-2x text"></i>
  </button>
  <ng-template #elseBlock>
    <button mat-button class="margin-rigth" routerLink="/login" routerLinkActive="active">
        <span class="header-text-user" >Login</span>
        <i class="fas fa-sign-out-alt fa-2x text"></i>
      </button>
    </ng-template>
</mat-toolbar>


