<div class="form-wrapper">
  <form class="form-container">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="report.distance" placeholder="Distance (Metres)">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="report.time" placeholder="Time (seconds)">
      </mat-form-field>
      <mat-form-field>
          <input matInput [(ngModel)]="report.timestamp" [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button (click)="addReport()">Add</button>
  </form>
</div>
